/*Neutral Greens*/
.ng-color-1 {color: #519E85;} /*Green*/
.ng-color-2 {color: #5E519E;} /*Blue*/
.ng-color-3 {color: #9E516A;} /*Red*/
.ng-color-4 {color: #909E51;} /*Gold*/
.ng-color-5 {color: #519E98;}
.ng-color-6 {color: #51919E;}

.ng-bg-1 {background-color: #519E85;} /*Green*/
.ng-bg-2 {background-color: #5E519E;} /*Blue*/
.ng-bg-3 {background-color: #9E516A;} /*Red*/
.ng-bg-4 {background-color: #909E51;} /*Gold*/
.ng-bg-5 {background-color: #519E98;}
.ng-bg-6 {background-color: #51919E;}

/*Green Shades*/
.color-1 {color: #579e51;}
.color-2 {color: #4c8a47;}
.color-3 {color: #41773d;}
.color-4 {color: #366333;}
.color-5 {color: #2b4f29;}
.color-6 {color: #213b1e;}
.color-7 {color: #162814;}
.color-8 {color: #0b140a;}

/*Green Shades*/
.bg-color-1 {background-color: #579e51;}
.bg-color-2 {background-color: #4c8a47;}
.bg-color-3 {background-color: #41773d;}
.bg-color-4 {background-color: #366333;}
.bg-color-5 {background-color: #2b4f29;}
.bg-color-6 {background-color: #213b1e;}
.bg-color-7 {background-color: #162814;}
.bg-color-8 {background-color: #0b140a;}

#view{
	/*background-color: #fff;*/
}

.template-col{
	min-height: 100vh;
}

.template-row{
	/*min-width: 100vw;*/
}

.pos-fixed{
	position: fixed;
}

#nav_bar{
	width: 8vw;
	/*background-color: #000;*/
	left:0;
}
#vert_nav_bar{
	/*height: 10vh;*/
}

.nav-font{
	font-size: 5vw;
}

.nav-icon{
	min-height: 5vw;
	width: 100%;
	/*border-width: 10px;
	border-color: #fff;
	border: solid;*/
	position: relative;
	text-align: center;
	color:#888;
	padding-top: 10px;
	padding-bottom: 10px;
}
.nav-icon:hover{
	/*background-color: #579e51;*/
	color:#579e51;
}

.nav-tab{ color:#41773d; padding:2px;}
.nav-tab:hover{ background-color: #162814; color:#579e51; }
.nav-tab-hz{ color:#fff; padding:2px; vertical-align: bottom;}
.nav-tab-hz:hover{ background-color: #519E85; color:#fff; }

.full-width{ width:100%; }
.quarter-width{ width:25%; }
.tenth-width{ width:10%; }

.primary-bg{ background-color: #fff; }
.secondary-bg{ background-color: #000; }
.primary-font-color{ color: #000; }
.secondary-font-color{ color: #fff; }

#searchform{
	background-color: #fff;
	width: 50%;
    border-radius: 25px;
    padding: 5px;
}
#searchform input{ border:none; }
#searchform #s{
	width: 70%;
	font-size: 24pt;
	padding-top: 5px;
	padding-bottom: 5px;
}
#searchform #s:focus{ outline: none; }
#searchform #searchsubmit{ width: 15%; }
#searchform label{ display: none; }

/*font Colors*/
.page-link{
	text-decoration: none;
	font-size: 18pt;
	color: #909E51;
}

.page-link:hover{
	color: #9E516A;
}

.header-dark-lg{
	color: #579e51;
	font-size: 42pt;
	font-family: 'Audiowide', cursive;
}

/*
.header-lg{
	font-size: 42pt;
	font-family: 'Audiowide', cursive;
}
*/
.body-text{
	font-family: 'Raleway', sans-serif;
}

.home-link{
	background-color:#579e51;
}

.home-link:hover{
	background-color:#41773d;
}

.no-padding{ padding:0; }

body{ 
	background-color: #fff;
	background-repeat: no-repeat;
    background-size: 25% auto;
    background-position: center;
    background-attachment: fixed;
}

.tp-large{ padding-top: 5vw; }
.tp-medium{ padding-top: 3vw; }

a{text-decoration: none;color: #41773d;}
a:hover{text-decoration: none;color: #213b1e;}

#page_navigation{
	background-color: #579e51;
}

#stripe{
	position: fixed;
	right: 0;
	left: 0;
	/*top: 0;
	bottom: 0;*/
	background-color: #fff;
	opacity: 0.3;/**/
	z-index: -10;
}

.stripe-color{
	height: 100vh;
	background-color: #9E516A;
}

.splash{
	width: 100%;
	height: 100vh;
	max-height: 50vw;
	position: relative;
	background-size: 100%;
	background-repeat: no-repeat;
}
.splash-cover{
	width: 100%;
	height: 100%;
	/*background-color: #000;*/
	opacity: .3;
}

.splash-text{
	position: absolute;
	bottom: 0;
	right:5px;
}

#nav-bar-top{
	position: fixed;
	z-index: 30;
	right:0;
	left:0;
}