/*Neutral Greens*/
.ng-color-1 {color: #0072BB;} /*Blue*/
.ng-bg-1 {background-color: #0072BB;} /*Blue*/

.ng-color-2 {color: #FF4C3B;} /*Red*/
.ng-bg-2 {background-color: #FF4C3B;} /*Red*/

.ng-color-3 {color: #FFD034;} /*Gold*/
.ng-bg-3 {background-color: #FFD034;} /*Gold*/
.ng-border-3 {border-color: #FFD034;}

.ng-color-4 {color: #C6C8CA;} /*Grey*/
.ng-bg-4 {background-color: #C6C8CA;} /*Grey*/

.ng-color-black {color: #000;}
.ng-bg-black {background-color: #000;}

.ng-color-white {color: #fff;}
.ng-bg-white {background-color: #fff;}

.tab-color-main{background-color: #0072BB;}
.tab-color-main:hover{background-color: #FF4C3B;}

.font-color-main{color: #fff;}
.font-color-main:hover{color: #FFD034;}

a{text-decoration: none;color: #FF4C3B;}
a:hover{text-decoration: none;color: #FFD034;}



/*Green Shades*/
.color-1 {color: #f00;} /* Colors to Remove */
.color-2 {color: #f00;} /* Colors to Remove */
.color-3 {color: #f00;} /* Colors to Remove */
.color-4 {color: #f00;} /* Colors to Remove */
.color-5 {color: #f00;} /* Colors to Remove */
.color-6 {color: #f00;} /* Colors to Remove */
.color-7 {color: #f00;} /* Colors to Remove */
.color-8 {color: #f00;} /* Colors to Remove */

.ng-bg-5 {background-color: #f00;}
.ng-bg-6 {background-color: #f00;}
.ng-color-5 {color: #f00;}
.ng-color-6 {color: #f00;}

/*Green Shades*/
.bg-color-1 {background-color: #f00;} /* Colors to Remove */
.bg-color-2 {background-color: #f00;} /* Colors to Remove */
.bg-color-3 {background-color: #f00;} /* Colors to Remove */
.bg-color-4 {background-color: #f00;} /* Colors to Remove */
.bg-color-5 {background-color: #f00;} /* Colors to Remove */
.bg-color-6 {background-color: #f00;} /* Colors to Remove */
.bg-color-7 {background-color: #f00;} /* Colors to Remove */
.bg-color-8 {background-color: #f00;} /* Colors to Remove */