
.ng-color-black {color: #000;} /*Grey*/
.ng-bg-black {background-color: #000;} /*Grey*/

.ng-color-white {color: #fff;} /*Grey*/
.ng-bg-white {background-color: #fff;} /*Grey*/
.ng-border-white {border-color: #fff;} /*Grey*/
/*
.btn-1{
	color: #fff;
    background-color: #C6C8CA;
    border-color: #0072BB;
}
.btn-1:hover{ background-color: #0072BB; }
.btn-2{
	color: #fff;
    background-color: #C6C8CA;
    border-color: #FF4C3B;
}
.btn-2:hover{ background-color: #FF4C3B; }*/